In [1]:
import pandas as pd

In [2]:
deathCause = pd.read_excel('ori_data/사망원인_104항목__성_연령_5세_별_사망자수__사망률_20230721170151.xlsx')

/opt/homebrew/anaconda3/envs/data1/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [357]:
deathCause

,사망원인별(104항목),성별,연령(5세)별,2017,2018,2019,2020,2021
0,사망원인별(104항목),성별,연령(5세)별,사망자수 (명),사망자수 (명),사망자수 (명),사망자수 (명),사망자수 (명)
1,계,계,계,285534,298820,295110,304948,317680
2,NaN,NaN,0세,1000,931,822,674,626
3,NaN,NaN,1 - 4세,261,220,233,185,151
4,NaN,NaN,5 - 9세,210,177,178,142,136
...,...,...,...,...,...,...,...,...
1136,NaN,NaN,60 - 64세,451,460,464,560,486
1137,NaN,NaN,65 - 69세,439,450,442,466,429
1138,NaN,NaN,70 - 74세,600,562,519,453,527
1139,NaN,NaN,75 - 79세,857,923,815,669,744
1140,NaN,NaN,80세이상,2774,2597,2499,2673,2593

In [358]:
deathCause.info()

# 총 1141개 인덱스 중 
# 사망원인, 성별 컬럼에 결측치 존재
# 결측치를 drop() 하면 해당 행이 지워지기 때문에 결측치를 치환하는 방향으로 결측치 처리
# 심장질환 데이터의 연령 컬럼이 10세 단위로 구성됨. 떄문에, 사망원인 데이터의 연령 컬럼은 10세 단위로 변경이 필요함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1141 entries, 0 to 1140
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사망원인별(104항목)  21 non-null     object
 1   성별            61 non-null     object
 2   연령(5세)별       1141 non-null   object
 3   2017          1141 non-null   object
 4   2018          1141 non-null   object
 5   2019          1141 non-null   object
 6   2020          1141 non-null   object
 7   2021          1141 non-null   object
dtypes: object(8)
memory usage: 71.4+ KB

In [3]:
# 인덱스 0 삭제
deathCause.drop(deathCause.index[0], inplace=True)

# 인덱스 번호 리셋
deathCause.reset_index(drop=True, inplace=True)

In [4]:
# 컬럼 설명하는 행 삭제 후 데이터 복사
deathCause_copy = deathCause.copy()

In [361]:
deathCause_copy

     사망원인별(104항목)   성별   연령(5세)별    2017    2018    2019    2020    2021
0               계    계         계  285534  298820  295110  304948  317680
1             NaN  NaN        0세    1000     931     822     674     626
2             NaN  NaN    1 - 4세     261     220     233     185     151
3             NaN  NaN    5 - 9세     210     177     178     142     136
4             NaN  NaN  10 - 14세     197     221     184     203     237
...           ...  ...       ...     ...     ...     ...     ...     ...
1135          NaN  NaN  60 - 64세     451     460     464     560     486
1136          NaN  NaN  65 - 69세     439     450     442     466     429
1137          NaN  NaN  70 - 74세     600     562     519     453     527
1138          NaN  NaN  75 - 79세     857     923     815     669     744
1139          NaN  NaN     80세이상    2774    2597    2499    2673    2593

[1140 rows x 8 columns]

In [32]:
def fill_missing_cause_of_death(df):
    cause_of_death = None  # 초기 사망원인 초기화
    
    for idx, row in df.iterrows():  # 데이터프레임의 각 행에 대한 반복
        if row['사망원인별(104항목)'] == '계':
            cause_of_death = '계'  # '계'인 경우 cause_of_death 변수에 '계' 할당
        elif pd.notnull(row['사망원인별(104항목)']):
            cause_of_death = row['사망원인별(104항목)']  # 결측치가 아니면 현재 값 할당
        
        df.loc[idx, '사망원인별(104항목)'] = cause_of_death  # 원본 데이터프레임에 값을 할당

    return df  # 수정된 데이터프레임 반환

# deathCause_copy 데이터프레임을 함수에 전달하여 결측치를 채움
fill_missing_cause_of_death(deathCause_copy)

,사망원인별(104항목),성별,연령(5세)별,2017,2018,2019,2020,2021
0,계,계,계,285534,298820,295110,304948,317680
1,계,계,0 - 9세,1000,931,822,674,626
2,계,계,0 - 9세,261,220,233,185,151
3,계,계,0 - 9세,210,177,178,142,136
4,계,계,10 - 19세,197,221,184,203,237
...,...,...,...,...,...,...,...,...
1135,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,451,460,464,560,486
1136,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,439,450,442,466,429
1137,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,600,562,519,453,527
1138,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,857,923,815,669,744
1139,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,80세 이상,2774,2597,2499,2673,2593

In [31]:
def fill_missing_sex(df):
    gender = None  # 초기 성별 초기화
    
    for idx, row in df.iterrows():  # 데이터프레임의 각 행에 대한 반복
        if row['성별'] == '계':
            gender = '계'  # '계'인 경우 gender 변수에 '계' 할당
        elif row['성별'] == '남자':
            gender = '남자'  # '남자'인 경우 gender 변수에 '남자' 할당
        elif row['성별'] == '여자':
            gender = '여자'  # '여자'인 경우 gender 변수에 '여자' 할당
        
        # gender 변수에 따라 성별 값을 할당
        df.loc[idx, '성별'] = gender

    return df  # 수정된 데이터프레임 반환

# deathCause_copy 데이터프레임을 함수에 전달하여 결측치를 채움
fill_missing_sex(deathCause_copy)

,사망원인별(104항목),성별,연령(5세)별,2017,2018,2019,2020,2021
0,계,계,계,285534,298820,295110,304948,317680
1,계,계,0 - 9세,1000,931,822,674,626
2,계,계,0 - 9세,261,220,233,185,151
3,계,계,0 - 9세,210,177,178,142,136
4,계,계,10 - 19세,197,221,184,203,237
...,...,...,...,...,...,...,...,...
1135,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,451,460,464,560,486
1136,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,439,450,442,466,429
1137,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,600,562,519,453,527
1138,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,857,923,815,669,744
1139,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,80세 이상,2774,2597,2499,2673,2593

In [33]:
def modify_age_ranges(df):
    for idx, row in df.iterrows():    # 데이터프레임의 각 행에 대한 반복
        age_range = row['연령(5세)별']
        if age_range in ['0세', '1 - 4세', '5 - 9세']:
            df.loc[idx, '연령(5세)별'] = '0 - 9세'
        elif age_range in ['10 - 14세', '15 - 19세']:
            df.loc[idx, '연령(5세)별'] = '10 - 19세'
        elif age_range in ['20 - 24세', '25 - 29세']:
            df.loc[idx, '연령(5세)별'] = '20 - 29세'
        elif age_range in ['30 - 34세', '35 - 39세']:
            df.loc[idx, '연령(5세)별'] = '30 - 39세'
        elif age_range in ['40 - 44세', '45 - 49세']:
            df.loc[idx, '연령(5세)별'] = '40 - 49세'
        elif age_range in ['50 - 54세', '55 - 59세']:
            df.loc[idx, '연령(5세)별'] = '50 - 59세'
        elif age_range in ['60 - 64세', '65 - 69세']:
            df.loc[idx, '연령(5세)별'] = '60 - 69세'
        elif age_range in ['70 - 74세', '75 - 79세']:
            df.loc[idx, '연령(5세)별'] = '70 - 79세'
        elif age_range == '80세이상':
            df.loc[idx, '연령(5세)별'] = '80세 이상'
    return df
    

modify_age_ranges(deathCause_copy)

,사망원인별(104항목),성별,연령(5세)별,2017,2018,2019,2020,2021
0,계,계,계,285534,298820,295110,304948,317680
1,계,계,0 - 9세,1000,931,822,674,626
2,계,계,0 - 9세,261,220,233,185,151
3,계,계,0 - 9세,210,177,178,142,136
4,계,계,10 - 19세,197,221,184,203,237
...,...,...,...,...,...,...,...,...
1135,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,451,460,464,560,486
1136,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,439,450,442,466,429
1137,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,600,562,519,453,527
1138,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,857,923,815,669,744
1139,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,80세 이상,2774,2597,2499,2673,2593

In [28]:
df = deathCause_copy.groupby(['사망원인별(104항목)', '성별', '연령(5세)별'], sort=False).sum().reset_index()

In [29]:
df

,사망원인별(104항목),성별,연령(5세)별,2017,2018,2019,2020,2021
0,계,계,계,285534,298820,295110,304948,317680
1,계,계,0 - 9세,1471,1328,1233,1001,913
2,계,계,10 - 19세,823,841,794,766,773
3,계,계,20 - 29세,2471,2528,2561,2706,2778
4,계,계,30 - 39세,4911,5065,4905,4759,4541
...,...,...,...,...,...,...,...,...
595,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,40 - 49세,970,945,914,883,841
596,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,50 - 59세,966,1043,1023,998,989
597,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,60 - 69세,890,910,906,1026,915
598,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,70 - 79세,1457,1485,1334,1122,1271
599,"질병이환 및 사망의 외인 (V01-Y89, U12)",여자,80세 이상,2774,2597,2499,2673,2593

In [35]:
df.to_csv('사망원인_성별_연령_사망자 수.csv', index=False)